name: Rust
on:
  pull_request:
  push:
    branches: main

env:
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_DEV_DEBUG: 1
  CARGO_PROFILE_RELEASE_DEBUG: 1
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: short
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  fmt:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Clippy
        uses: giraffate/clippy-action@v1
        with:
          clippy_flags: ''
          reporter: 'github-pr-check'

  publish-dry-run:
    name: Publish (dry run)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v2
        with:
          dry-run: true

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest
      - name: Install Protoc
        uses: arduino/setup-protoc@v2
      - name: Build tests
        uses: actions-rs/cargo@v1
        with:
          command: nextest
          args: run --all-features --no-run
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: nextest
          args: run --all-features --no-fail-fast --no-capture
      - name: Run tests (no-std)
        uses: actions-rs/cargo@v1
        with:
          command: nextest
          args: run --no-default-features --no-fail-fast --no-capture
